---
interface Props {
	titulo: string;
}

const { titulo } = Astro.props;

import Navbar from "../componentes/Navbar.astro"

---


<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/logoico32.png" type="image/png">
		<meta name="generator" content={Astro.generator} />
		<title>{titulo}</title>
	</head>
	<body>
        <Navbar/>
		<slot />
	</body>
</html>
<style is:global>
    html{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: rgb(8,47,73);
        background-image: linear-gradient(0deg, #0278c7 0%, rgb(8,47,73) 100%);
        font-family: "Open Sans", sans-serif, "Nunito";
        font-style: normal;
        color: rgb(186, 230, 253);
        scrollbar-color: rgb(8, 47, 73) rgb(186, 230, 253);
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    h1 {
		font-size: clamp(2.25rem, 2.0668rem + 0.7818vw, 3rem);
		font-weight: 700;
        font-family: "Nunito", "Open Sans", sans-serif;
	}

	h2 {
		font-size: clamp(1.33rem, 0.995rem + 0.8375vw, 2rem);
		font-weight: 500;
        font-style: italic;
	}

	p {
		font-size: clamp(1.2rem, 0.97rem + 0.575vw, 1.66rem);
		font-weight: 400;
		text-wrap: pretty;
	}

    a {
        color: rgb(186, 230, 253);
    }
    a:hover {
        color: white;
        transition-duration: 300ms;
    }

    svg {
        height: 20px;
        margin-right: 6px;
    }

    path{
        fill: white;
    }

    @keyframes mostrar {
        from {
            opacity: 0;
            transform: translateY(-25%) scale(0.5);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

    .imagen {
        view-timeline-name: --imagen;
        animation-timeline: --imagen;
        animation-name: mostrar;
        animation-range: entry 0% cover 50%;
    }
</style>